includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-model-baseline.neon
parameters:
    level: max
    paths:
        - src
        - tests
        - tools
    excludePaths:
        analyse:
            - tools/codegen/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
