parameters:
	ignoreErrors:
		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\Assertion constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/Assertion.php

		-
			message: '#^Parameter \$conditions of class Curentis\\OpenFga\\Model\\AuthorizationModel constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/AuthorizationModel.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\BatchCheckItem constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/BatchCheckItem.php

		-
			message: '#^Parameter \$result of class Curentis\\OpenFga\\Model\\BatchCheckResponse constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/BatchCheckResponse.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\CheckBody constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/CheckBody.php

		-
			message: '#^Parameter \$parameters of class Curentis\\OpenFga\\Model\\Condition constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/Condition.php

		-
			message: '#^Cannot call method format\(\) on DateTimeImmutable\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Model/GetStoreResponse.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\ListObjectsBody constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ListObjectsBody.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\ListUsersBody constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ListUsersBody.php

		-
			message: '#^Parameter \$relations of class Curentis\\OpenFga\\Model\\Metadata constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/Metadata.php

		-
			message: '#^Parameter \$wildcard of class Curentis\\OpenFga\\Model\\RelationReference constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/RelationReference.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\RelationshipCondition constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/RelationshipCondition.php

		-
			message: '#^Cannot call method format\(\) on DateTimeImmutable\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Model/Store.php

		-
			message: '#^Parameter \$context of class Curentis\\OpenFga\\Model\\StreamedListObjectsBody constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/StreamedListObjectsBody.php

		-
			message: '#^Parameter \$relations of class Curentis\\OpenFga\\Model\\TypeDefinition constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/TypeDefinition.php

		-
			message: '#^Parameter \$thisUserset of class Curentis\\OpenFga\\Model\\Userset constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/Userset.php

		-
			message: '#^Parameter \$conditions of class Curentis\\OpenFga\\Model\\WriteAuthorizationModelBody constructor expects array\<string, mixed\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/WriteAuthorizationModelBody.php
